[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
openai = "*"
pandas = "*"
pytest = "*"
pynng = "*"
curio = "*"
sse-starlette = "*"
pyyaml = "*"
immutabledict = "*"
tiktoken = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlite-web = "*"
httpx = "*"
shortuuid = "*"
sentence-transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
