
db:
  type: sqlite

openai:
  api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

server:
  port: XXX

svc_mgr:
  srsd:
    class_path: common.svc_rgst_dscvy.ConsulSvcRgstDscvy
    consul:
      host: XXX.XXX.XXX.XXX
      port: XXX
  mapping:
    class_path: common.svc_rgst_dscvy.FileSvcModelMapping
    file_path: conf/svc2model.json